* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;  /* Tengahin secara horizontal */
    align-items: center;      /* Tengahin secara vertikal */
    background-color: #f4f4f4;
}

#myAudio {
    display:none;
}

button {
    padding: 14px;
}

 @media (max-width: 600px) {
            button {
                font-size: 14px; /* Menyesuaikan ukuran font untuk layar kecil */
                padding: 8px 16px;
            }

            /* Teks yang lebih kecil di layar kecil */
            p {
                font-size: 14px;
            }
        }
